@model RobotJester.Models.LogUser
<h1 class="text-center form-text">Enter our shop!</h1>
<div class="container jumbotron form-width">
            <form method="POST" asp-controller="Login" asp-action="Account">
                <div class="form-group">
                    <span asp-validation-for="Email"></span>
                    <label asp-for="Email">Email</label>
                    <input class="form-control" asp-for="Email">
                </div>
                <div class="form-group">
                    <span asp-validation-for="Password"></span>
                    <label asp-for="Password">Password</label>
                    <input class="form-control" asp-for="Password">
                </div>
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Login">
                </div>
            </form>
    </div>