@model RobotJester.Models.LogUser
<div class="jumbotron">
    <div class="container">
        <span id="big" class="glyphicon glyphicon-list-alt"></span>
        <h2>Come one, come all! Enter our shop!</h2>
        <div class="col-sm-6">
            <form method="POST" asp-controller="Login" asp-action="Account">
                <div class="form-group">
                    <span asp-validation-for="Email"></span>
                    <label asp-for="Email">Email</label>
                    <input class="form-control" asp-for="Email">
                </div>
                <div class="form-group">
                    <span asp-validation-for="Password"></span>
                    <label asp-for="Password">Password</label>
                    <input class="form-control" asp-for="Password">
                </div>
                <input class="btn-btn-success" type="submit" value="Login">
            </form>
        </div>
    </div>
</div>