<div class="container">
    <div class="page-header">
        <h1>Manage your account.<span class="pull-right label label-success">:)</span></h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a asp-action="CartView">
                Your cart
            </a>
        </div>
        <div class="col-lg-3">
            <a asp-action="AddressView">
                Your Addresses
            </a>
        </div>
        <div class="col-lg-3">
            <a asp-action="OrderView">
                View all your orders
            </a>
        </div>
        <div class="col-lg-3">
            <a asp-action="Security">
                Login, security & password settings
            </a>
        </div>
    </div>   
    
</div>