@using RobotJester.Models
@model List<RobotJester.Models.Cart_Items>

<div class="container">
    <div class="page-header">
        <h1>Manage your account.<span class="pull-right label label-success">:)</span></h1>
    </div>
    <div class="row">
    	<div class="col">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <!-- Each tab should be a rendered partial -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">Overview</a></li>
                            <li><a href="#tab2default" data-toggle="tab">Your orders</a></li>
                            <li><a href="#tab3default" data-toggle="tab">Your addresses</a></li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                                    <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
                                </ul>
                            </li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">Default 1</div>
                        <div class="tab-pane fade" id="tab2default">Default 2</div>
                        <div class="tab-pane fade" id="tab3default">Default 3</div>
                        <div class="tab-pane fade" id="tab4default">Default 4</div>
                        <div class="tab-pane fade" id="tab5default">Default 5</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- May move this cart table elsewhere -->
    <table class="table table-hover table-striped table-responsive">
        <thead>
            <tr>
                <th><span class="glyphicon glyphicon-barcode"></span> Item</th>
                <th><span class="glyphicon glyphicon-list-alt"></span> Quantity</th>
                <th><span class="glyphicon glyphicon-usd"></span> Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var i in @Model)
            {
                <tr>
                    <td><a href="/Product/@i.all_items.product_id">@i.all_items.name</a></td>
                    <td>
                        <form method="POST" asp-controller="Store" asp-action="UpdateCart">
                            <input type="hidden" name="product_id" value="i.all_items.product_id">
                            <input type="number" name="quantity" value="@i.quantity" min="1" max="50">
                            <input type="submit" value="Update" class="btn btn-sm btn-primary">
                        </form>                        
                    </td>
                    <td>$@i.all_items.price</td>
                    <td>
                        <a href="/Remove/@i.item_id">
                            <button class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </a>
                    </td>                                                            
                </tr>                
            }
            <tr>
                <td></td>
                <td></td>
                <td><strong>Total: </strong></td>
                <td>
                    <strong>$TBD</strong>
                </td>
            </tr>                         
                                    
        </tbody>
    </table>
</div>