@model RobotJester.Models.NewUser

<h1 class="text-center form-text">Register Below. It's Free!</h1>
<div class="container form-width jumbotron register-form">
    
    <form method="POST" asp-controller="Account" asp-action="Register">
        <div class="form-group">
            <span asp-validation-for="first_name"></span>
            <label asp-for="first_name">First Name</label>
            <input class="form-control" asp-for="first_name">
        </div>
        <div class="form-group">
            <span asp-validation-for="last_name"></span>
            <label asp-for="last_name">Last Name</label>
            <input class="form-control" asp-for="last_name">
        </div>
        <div class="form-group">
            <span asp-validation-for="email"></span>
            <label asp-for="email">Email</label>
            <input class="form-control" asp-for="email">
        </div>
        <div class="form-group">
            <span asp-validation-for="phone"></span>
            <label asp-for="phone">Phone Number</label>
            <input class="form-control" asp-for="phone">
            <small>Optional, we'll never share your phone with anyone else.</small>
        </div>
        <div class="form-group">
            <span asp-validation-for="password"></span>
            <label asp-for="password" asp-for="password">Password</label>
            <input class="form-control" asp-for="password">
            <small>Must be at least 6 characters long.</small>
        </div>
        <div class="form-group">
            <span asp-validation-for="pw_confirm"></span>
            <label for="pw_confirm" asp-for="pw_confirm">Confirm Password</label>
            <input class="form-control" asp-for="pw_confirm">
            <small>Must be at least 6 characters long.</small>
        </div>
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Register">
        </div>
    </form>
</div>

