<h2 class="text-center">
    Your Security/Privacy Settings
</h2>

<h4 class="text-left">Change password (disabled for the demo)</h4>

<div class="container form-width">
    <form asp-controller="Account" asp-action="PasswordChange">
        <fieldset class="form-group">
        	<label for="exampleInputEmail1">Password</label>
        	<input type="password" class="form-control" id="exampleInputEmail1" placeholder="Enter new password">
      	</fieldset>
      	<fieldset class="form-group">
        	<label for="exampleInputPassword1">New password</label>
        	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Re-enter New Password">
      	</fieldset>
      	<div class="checkbox">
        	<input type="submit" class="btn btn-primary" value="Submit">
      	</div>
      	
    </form>
</div>
