<h1 class="text-center form-text">About us</h1>
<div class="container form-other">
    <p>We are a online e-commerce storefront that sells all things, pranks, gags, and fun toys! Please have a look
        at our shop. Have a look at our treasures and wares in the shop
        located <a asp-action="Products">here</a>
    </p>
</div>


