<h2 class="text-center">Thank you, We have processed your order and will fulfill it shortly</h2>
<h5>You can check your order <a asp-action="Orders">here</a></h5>
<div class="text-center">
    <img class="img-responsive" id="the-jester" src="~/images/jester.png" alt="">
</div>