@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe

<!-- <form action="/Store/Charge" method="POST">
    <label for="">Amount: 5.00</label>
    <script 
        src="https://checkout.stripe.com/checkout.js"> 
        class="stripe-button"
        data-key="@Stripe.Value.PublishableKey"
        data-description="Checkout robot jester"
        data-amount="500"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto">

    </script>
</form> -->

<form action="/Charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="@Stripe.Value.PublishableKey"
    data-name="Robot Jester!"
    data-description="2 widgets ($20.00)"
    data-amount="2000">
  </script>
</form>
<!-- data-image="/square-image.png" FOR LATER WITH STORE LOGO -->