@model RobotJester.Models.ViewProduct

<form method="post" asp-controller="Store" asp-action="Validate">
    <div class="form-group">
        <span asp-validation-for="name"></span>
        <label asp-for="name">Product Name</label>
        <input class="form-control" asp-for="name">
    </div>
    <div class="form-group">
        <span asp-validation-for="price"></span>
        <label asp-for="price">Price</label>
        <input class="form-control" asp-for="price">
    </div>
    <div class="form-group">
        <span asp-validation-for="description"></span>
        <label asp-for="description">Description</label>
        <input class="form-control" asp-for="description">
    </div>
    <div class="form-group">
        <span asp-validation-for="instock_quantity"></span>
        <label asp-for="instock_quantity">Quantity Instock</label>
        <input class="form-control" asp-for="instock_quantity">
    </div>
    <div class="form-group">
        <span asp-validation-for="weight"></span>
        <label asp-for="weight">Weight</label>
        <input class="form-control" asp-for="weight">
    </div>
    <div class="form-group">
        <span asp-validation-for="x_dimension"></span>
        <label asp-for="x_dimension">X-Axis-Dimension</label>
        <input class="form-control" asp-for="x_dimension">
    </div>
    <div class="form-group">
        <span asp-validation-for="y_dimension"></span>
        <label asp-for="y_dimension">Y-Axis-Dimension</label>
        <input class="form-control" asp-for="y_dimension">
    </div>
    <div class="form-group">
        <span asp-validation-for="z_dimension"></span>
        <label asp-for="z_dimension">Z-Axis-Dimension</label>
        <input class="form-control" asp-for="z_dimension">
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>