@using RobotJester.Models;


<div class="container-fluid">
    <h1 class="text-center">Welcome to <span id="custom-welcome">RobotJester</span>!</h1>
    <img class="img-responsive" id="the-jester" src="~/images/jester.png" alt="">
</div>