@using RobotJester.Models;


<div class="container-fluid">
    <h1 class="text-center">Welcome to <span id="custom-welcome">RobotJester</span>!</h1>
    <h4 class="text-center text-muted">*Your one-stop-shop for all things gags, pranks or jokes!</h4>
    <img class="img-responsive" id="the-jester" src="~/images/jester.png" alt="">
</div>