@model List<Products>
@using RobotJester.Models

<div class="container text-center">
    <h1>OUR INVENTORY</h1>
</div>

<div class="container col-centered" id="card">
    <div class="row">
        @foreach(var item in ViewBag.All)
        {                  
            <div class="col-md-3 col-centered">
                <div class="thumbnail">
                    <a href="/Products/@item.product_id"><img src="http://via.placeholder.com/350x150" alt=""></a>
                    <div class="caption">
                        <h2>@item.name</h2>
                        <ul>
                            @if(item.instock_quantity <= 0)
                            {
                                <li>Sorry, out of stock</li>
                            }
                            else
                            {
                                <li>@item.instock_quantity left in stock </li>
                                <li>Our price: $@item.price</li>
                            }
                        </ul>
                        <p class="text-center">
                            <a href="/Products/@item.product_id" class="btn btn-success" role="button">See Details</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


