@import url('https://fonts.googleapis.com/css?family=Acme|Bangers|Anton');

/* Main elements */

h1 { 
   font-family: 'Anton', sans-serif;
   font-size: 4.25em;
}



p {
    font-family: 'Anton';

}
a {
    font-family: 'Acme', sans-serif;
    color: rgb(68, 29, 211);
    font-size: 1.15em;
}

.body {
    background-color: whitesmoke;
    padding-bottom: 3em;
}

/* Navbar in _Layout */

#main-nav {
    /* OVERRIDES THE DEFAULT NAVBAR STYLE */
    border-radius: 0px;
    border: 0px;
    background-color: rgb(62,35,87);
    
}

/* Dropdown Menus */

#login-dp{
    min-width: 250px;
    padding: 14px;
    overflow:hidden;
    background-color: rgba(255,255,255);
    
}

#dd-options {
    border-top: 1px solid #ddd;
}

#login-dp .help-block{
    font-size:12px; 
}
#login-dp .bottom{
    background-color:rgba(255,255,255);
    border-top:1px solid #ddd;
    clear:both;
    padding:5px;
}

#dd-options {
    padding: 1em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/* Index welcome page */

#custom-welcome {
    color: #45D24E;
}

#the-jester {
    margin: auto;
    height: 40%;
    width: 40%;
    margin-top: 3em;

}





.box {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
}




