body {
    padding-bottom: 20px;
}


#main-nav {
    padding: 12px;
    /* OVERRIDES THE DEFAULT NAVBAR STYLE */
}

#login-dp{
    min-width: 250px;
    padding: 14px;
    overflow:hidden;
    background-color: rgba(255,255,255,.2);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.2);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

