@using System.Collections.Generic
@using RobotJester.Models
@inject LoggedInUserService userService  
<ul class="nav navbar-nav navbar-left">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your cart <span class="glyphicon glyphicon-shopping-cart"></span></a>
        <ul id="login-dp" class="dropdown-menu">
            <li>
                <div class="row">
                    <p class="text-center"><strong>Items in your cart</p></strong>
                    <table class="table table-hover table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th><span class="glyphicon glyphicon-barcode"></span> Item</th>
                                <th><span class="glyphicon glyphicon-list-alt"></span> Quantity</th>
                                <th><span class="glyphicon glyphicon-usd"></span> Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var i in @userService.user_cart)
                            {
                                <tr>
                                    <td><a href="/Product/@i.all_items.product_id">@i.all_items.name</a></td>
                                    <td>@i.quantity</td>
                                    <td>@i.all_items.price</td>
                                </tr>
                            }                          
                            <tr>
                                <td></td>
                                <th class="text-right"><strong>Total: </strong></th>
                                <td>
                                    <!-- Foreach loop for price? Might need to store total in cart DB table -->
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <li class="divider"></li>
                    <div class="text-center">
                        <span class="glyphicon glyphicon-send"></span> <a asp-controller="Account" asp-action="CartView">View your cart.</a>  
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>