@model List<Orders>
@using RobotJester.Models
<div class="container">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Order #</th>
                <th>Customer</th>
                <th>Order Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var o in @Model)
            {
                <tr>
                    <td><a href="Show/@o.order_id">Order #@o.order_id</a></td>
                    <td><a href="">@o.customer.first_name @o.customer.last_name</a></td>
                    <td>@o.created_at.ToString("D")</td>
                    <td>$@o.total_billed</td>
                </tr>
            }
        </tbody>
    </table>
</div>