<div class="container">
    <div class="row">
        <h2 class="text-center">Administrator Toolbox</h2>
        <table class="table table-hover table-bordered table-responsive">
            <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-wrench"></span> Tools</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="glyphicon glyphicon-barcode"></span><a href="/Inventory"> Inventory Management</a></td>
                    <td>Keep track of your store stock</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-book"></span><a asp-action="Orders" asp-controller="Office"> Order History</a></td>
                    <td>Detailed list of all your orders,</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-user"></span><a href="/Table"> User Management</a></td>
                    <td>Manually create, edit, remove a user.</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-inbox"></span><a href="/Table"> Inbox</a></td>
                    <td>All contact forms go here.</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-bullhorn"></span><a href="/Table"> Marketing Campaigns</a></td>
                    <td>Create new email campaigns, promo codes or make site-wide announcements.</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-plane"></span><a href="/Table"> Shipping Calculator</a></td>
                    <td>Calculate shipping costs with order data.</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-cog"></span><a href="/Table"> System</a></td>
                    <td>Details about the server, safety or change system variables.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>