<div class="container">
    <div class="row">
        <h2 class="text-center">Administrator Toolbox</h2>
        <table class="table table-hover table-bordered table-responsive">
            <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-wrench"></span> Tools</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="glyphicon glyphicon-barcode"></span><a href="/Inventory"> Inventory Management</a></td>
                    <td>Keep track of your store stock</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-book"></span><a asp-action="Orders" asp-controller="Office"> Order History</a></td>
                    <td>Detailed list of all your orders,</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>